{% extends "teste/base.html" %}

{% block title %}Cadastro - VAGALI{% endblock %}

{% block content %}
<section class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="login-cadastro-container">

        <div id="cadastroForm">
            <h1 class="text-center mb-4">Cadastro VagAli</h1>
            <form method="POST" action="{% url 'cadastro' %}"> {% csrf_token %}
                <div class="mb-3">
            
                    <label for="username" class="form-label">Nome Completo:</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Seu nome completo" required>
                </div>
                <div class="mb-3">
                    <label for="cpf" class="form-label">CPF (Apenas números):</label>
                    <input type="text" class="form-control" id="cpf" name="cpf" placeholder="00000000000" required>
                </div>
                <div class="mb-3">
                    <label for="telefone" class="form-label">Telefone:</label>
                    <input type="telefone" class="form-control" id="telefone" name="telefone" placeholder="(00) 12345-0989">
                </div>
                 <div class="mb-3">
                    <label for="email" class="form-label">E-mail:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="vagali@gmail.com" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Senha:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="********" required>
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">Confirme a Senha:</label>
                    <input type="password2" class="form-control" id="password2" name="password2" placeholder="********" required>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </div>
            </form>
            <div class="text-center">
                <p class="text-muted">Já tem uma conta?
                    <a href="{% url 'login' %}" class="btn btn-link toggle-link">Faça login aqui</a>
                </p>
            </div>
        </div>

        </div>
</section>
{% endblock %}