{% extends "base.html" %}
{% load static %}

{% block title %}PERFIL VAGALI{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'main/css/perfil.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="container perfil-container">
        <i class="bi bi-three-dots-vertical menu-options-icon"></i>

        <div class="perfil-header">
            <img src="{% static 'main/images/Perfil/confeiteira.jpg' %}" alt="Juliana Doces" class="perfil-img">
            <div class="perfil-info">
                <h3 class="mb-1">JULIANA DOCES</h3>
                <p class="mb-1 text-uppercase">Empreendedora, Confeiteira</p>
                <p class="mb-2">Rio de Janeiro, Brasil</p>
            </div>
            <div class="perfil-actions">
                <button class="btn-follow mb-5 mt-4">+ SEGUIR</button>
                <div class="estrelas-header">
                <span>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </span>
                <strong>5/5</strong>
                </div>
            </div>
        </div>

        <div class="row g-3 main-content-row">
        <div class="col-md-5">
            <div class="feedbacks">
            <h5>FEEDBACKS</h5>
            <div class="feedback">
                <p>“Simplesmente perfeito! O bolo estava delicioso, super fresquinho e com um recheio de dar água na boca. Todo mundo elogiou e já quero encomendar o próximo.”<br><strong>— Mariana M.</strong> <i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i></p>
            </div>
            <div class="feedback">
                <p>“As frutas em destaque fizeram o maior sucesso no aniversário da minha filha. Todo mundo queria saber onde eu tinha encomendado. Atendimento excelente e entrega pontual.”<br><strong>— Juliana D.</strong> <i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i></p>
            </div>
            <div class="feedback">
                <p>“Sabor caseiro com toque profissional! Encomendei para um café com minha família e foi a melhor escolha.”<br><strong>— Renato D.</strong> <i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i></p>
            </div>
            </div>
        </div>
        <div class="col-md-7"> 
            <div class="gallery-top-content"> 
                <div class="row g-2 galeria gallery-inner-col" id="productGallery">
                </div>
                <div class="side-buttons side-buttons-inner-col">
                    <button class="btn">SOLICITAR SERVIÇOS</button>
                    <button class="btn">CONSULTAR AGENDAR</button>
                    <button class="btn">FEEDBACK</button>
                    <button class="btn">DENUNCIAR CONTA</button>
                    <div class="d-flex justify-content-center mt-3">
                        <i class="bi bi-chevron-down text-dark" style="font-size: 2rem;"></i>
                    </div>
                </div>
            </div>
            <div class="gallery-pagination" id="galleryPagination">
                <span class="page-item arrow" data-page="prev"><i class="bi bi-chevron-left"></i></span>
                <span class="page-item active" data-page="1">1</span>
                <span class="page-item" data-page="2">2</span>
                <span class="page-item arrow" data-page="next"><i class="bi bi-chevron-right"></i></span>
            </div>
        </div>
        </div>

    </div>
</main>
{% endblock %}

{% block scripts_extra %}
    <script src="{% static 'main/js/scripts.js' %}"></script>
{% endblock %}